body{
    background-color: rgb(238, 222, 214);
    margin:25px
 
   
  }
  
h1{
    color: rgb(125, 47, 5);
   
   
  }

button{
    color: rgb(125, 47, 5);border-radius: 20px;
    
}
p{
    color: rgb(125, 47, 5);
    font-weight: bolder;
    font-size: larger;
     
}
li{
    font-weight: bolder;
    font-size: x-large;
    color:brown
}
button:hover{
  transform: scale(1.2);
}
img:hover{
  transform: scale(1.05);
}